@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Reem+Kufi:wght@400;500&family=Unna&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    font-family: 'Poppins', sans-serif;

}

.conteudo{
    margin-bottom: 40px;
    border-top: 0.4px solid #000000;
}

.conteudo-principal{
    font-family: 'Vidaloka', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/img_podcast_principal.svg") no-repeat center center;
    background-size: cover;
    height: 50vh;
    width: 100vw;

}


.conteudo-principal-escrito-titulo{
    font-weight: 400;
    font-size: 50px;

}

.conteudo-principal-escrito-botao{
    margin-top: 20px;
    background-color: #000;
    width: 180px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color:white;

    margin-left: 30%;
    margin-right: 30%;

}


.conteudo-Ep{
    margin-left: 15%;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 5vh;
}


.conteudo-borda{
    background: #fff;
    width: 70%;
    margin: 0 auto 20px auto;
    border-radius: 25px;
    border: 5px solid #000;
    margin-top: 5vh;
    max-width: 1400px;    

    

}

.conteudo-borda-titulo{
    padding-top: 1%;
    padding-left: 5%;
    display: inline-block;

}

.conteudo-borda-secudario{
    padding-top: 10px;
    padding-left: 5%;
    margin-right: 2%;
    margin-bottom: 10px;
    

    
}

.conteudo-borda-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.conteudo-btn {
    margin-top: 10px;
    font-family: 'Reem Kufi', sans-serif;
    width: 200px;
    padding: 12px 0px;
    margin-right: 5vh;
    border: none;
    border-radius: 100px;
    outline: none;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    background: #F44618;
    cursor: pointer;
    box-shadow: 0px 10px 40px -20px #F44618;

    font-weight: 400px;
    font-size: 25px;



}

.conteudo-btn-mais{
    margin-top: 10px;
    font-family: 'Reem Kufi', sans-serif;
    width: 200px;
    padding: 12px 0px;
    margin-right: 5vh;
    border: none;
    border-radius: 100px;
    outline: none;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    background: #000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -20px #000;


}

.conteudo-btn-mais-a{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


