@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Reem+Kufi:wght@400;500&family=Unna&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.conteudo{
    margin-bottom: 40px;
    border-top: 0.4px solid #000000;
    
}

.cabecalho-img{
    margin-top: 1vh;
}

.conteudo-principal{
    margin-top: 5vh;
    margin-left: 10%;
    margin-right: 50%;
}

.conteudo-principal-p{
    font-family: 'Montserrat', sans-serif;
}

.conteudo-principal-s{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.conteudo-principal-t{
    font-family: 'Reem Kufi', sans-serif;
    margin-top: 30px;
}

.conteudo-principal-q{
    margin-top: 10px;
    font-family: 'Reem Kufi', sans-serif;
}

.conteudo-apresentador-flex{
    margin-top: 1vh;
    margin-left: 10%;
    display: flex;

    align-items: center;
}

.conteudo-apresentador-flex-tt{
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
}

.conteudo-apresentador-flex-tt-icon{
    cursor: pointer;
}