@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Reem+Kufi:wght@400;500&family=Unna&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}


.cabecalho-menu-item {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .cabecalho-menu-item:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .cabecalho-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Reem Kufi', sans-serif;
    background: #FFC017;
    background-size: cover;
    height: 10vh;
    width: 100%;

    min-height: 100px;

  }
  
  .cabecalho-img{
    margin-top: 1vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 1px;
    margin-left: 32px;
  }

  .cabecalho-menu-btn{
    margin-top: -10px;
    font-family: 'Reem Kufi', sans-serif;
    width: 100%;
    padding: 12px 0px;
    margin-right: 100px;
    border: none;
    border-radius: 100px;
    outline: none;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    background: #000000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #000000;
}
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      margin-top: 30px;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 45vw;
      height: 92vh;
      background: #FFC017;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  


.conteudo{
    margin-bottom: 40px;
    border-top: 0.4px solid #000000;
}

.conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFC017;

    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 500px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-left: 5vh;
    margin-right: 5vh;
}

.conteudo-principal-escrito-titulo{
font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 76px;


}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;


}

.conteudo-principal-escrito-botao{
    background-color: #000;
    width: 180px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color:white;


}


.conteudo-principal-imagem {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.conteudo-principal-imagem > h1 {
  font-size: 3vw;

}

.conteudo-principal-imagem {
  width: 35vw;
}

.conteudo-principal-imagem-900{
  display: none;
}

.conteudo-principal-escrito-900{
  display: none;
}

@media (max-width: 900px){
  .conteudo-principal-imagem{
    display: none;
  }
  .conteudo-principal-escrito-900{
    display: block;
  }
  .conteudo-principal-imagem-900{
    display: block;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .conteudo-principal{
    display: block;
    padding-bottom: 20px;
  }

}



.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;

    padding-left: 5vh;
    padding-right: 5vh;
}

.conteudo-secundario-titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;

    padding-left: 5vh;
    padding-right: 5vh;

}

.conteudo-secundario-paragrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;

    padding-left: 5vh;
    padding-right: 5vh;


}

.linha{
    padding: 32px;
    border-top: 0.4px solid #E9E9E9;
    width: 100%;
}





.conteudo-valores{
  border-radius: 25px;
  background-color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px;
  padding-bottom: 100px;
}

.conteudo-valores-principal-titulo{
  font-family: 'Montserrat Alternates', sans-serif;
}

.conteudo-valores-principal-subtitulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}




.conteudo-valores-quadrado{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.conteudo-valores-quadrado-p{
  display: flex;
  justify-content: space-between;


  width: 300px;
}

.conteudo-valores-quadrado-p-titulo{
  font-family: 'Montserrat', sans-serif;
  margin-right: 70px;
}

.linha-valores{
  margin-top: 8px;
  margin-bottom: -10px;
  padding-bottom: 32px;
  border-top: 3px solid #D9D9D9;
  width: 100%;
  
}

.conteudo-valores-quadrado-s-secundario{
  font-family: 'Montserrat', sans-serif;
  font-size: 19px
} 

@media (max-width: 1200px){
  .conteudo-valores-quadrado{
    display: block;
    margin-right: 10%;
  }
  .conteudo-valores-quadrado-p-titulo{
    margin-top: 30px;
  }
  .linha-valores{
    width: 350px;
  }
}

.conteudo-logo-secundario{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-right: 25px;
  padding-left: 25px;
  background: #FFC017;
  width: 80%;
  height: 350px;
  margin-left: 10%;
  margin-right: 10% ;
  margin-top: 180px;
}

.conteudo-logo-secundario-texto-t{
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh  ;
  font-weight: normal;
}

.conteudo-logo-secundario-texto-s{
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.conteudo-logo-secundario-img{
  width: 70vh;
  height: 50vh;
}

.conteudo-logo-secundario-img-superior{
  display: none;
}

@media (max-width: 1200px){
  .conteudo-logo-secundario-img{
    display: none;
  }
  .conteudo-logo-secundario-img-superior{
    display: block;
    margin-bottom: 50px;
    width: 70vh;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -80px;

  } 
  .conteudo-logo-secundario{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 600px;
  }
}

@media (max-width: 1000px){
  .conteudo-logo-secundario{
    height: 700px;
  }
  .conteudo-logo-secundario-img-superior{
    margin-top: -80px;
  }
}

@media (max-width: 670px){
  .conteudo-logo-secundario{
    height: 780px;
  }
  .conteudo-logo-secundario-img-superior{
    width: 65vh;
    margin-top: -80px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 620px){
  .conteudo-logo-secundario-img-superior{
    width: 50vh;
    margin-top: -80px;
  }
}





.conteudo-eventos{
  margin-right: 10% ;
  margin-left: 10%; 
  margin-top: 7vh;
  font-family: 'Montserrat', sans-serif;
}

.conteudo-evento-01{
  color: #606060;
}

.conteudo-flex{
  margin-left: 10%;
  margin-right: 10%;
}

.conteudo-flex-sm{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.conteudo-img-flex{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-right: 4vh;
}

.conteudo-texto-flex{
  font-size: 4.5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter; 
}

.linha1{
  padding: 1px;
  border-top: 0.4px solid #E9E9E9;
  width: 100%;
}

.conteudo-img-flex-sm{
  width: 100%;
}

@media (max-width: 900px){
  .conteudo-flex-sm{
    display: block;
  }
}


.conteudo-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFE49A;

  width: 80%;

  border-radius: 1vh;

  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;

  
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 500px;

  padding-right: 25px;
  padding-left: 25px;

  
}

.conteudo-footer-escrito{
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-right: 100px;
}

.conteudo-footer-escrito-titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;


}

.conteudo-footer-escrito-subtitulo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-weight: lighter;


}



.conteudo-footer-textfield {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  border: 2px solid #000;
  border-radius: 10px;
}

.conteudo-footer-textfield > input {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #ffff;
  color: #000;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}


.conteudo-footer-textfield > input::placeholder {
  color: #717171;
}

.conteudo-footer-escrito-botao{
  background-color: #fff;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  color: #000;


}


.conteudo-footer-imagem {
width: 35vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}



.conteudo-footer-imagem-900{
display: none;
}

.conteudo-footer-escrito-900{
display: none;
}

@media (max-width: 900px){
.conteudo-footer-imagem{
  display: none;
}
.conteudo-footer-escrito-900{
  display: block;
}
.conteudo-footer-imagem-900{
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;

}
.conteudo-footer{
  display: block;
  height: 650px;
  padding-top: 20px;

}
.conteudo-footer-escrito-botao{
  margin-bottom: 20px;

}
}

@media (max-width: 500px){  
  .conteudo-footer{
    height: 710px;
  }
}



